0 15 10 * * /bin/bash -l -c 'cd /home/igrigorik/code && ./sync.sh `date +"%b_1_%Y"`'  >> /var/log/HAimport.log 2>&1
0 15 25 * * /bin/bash -l -c 'cd /home/igrigorik/code && ./sync.sh `date +"%b_15_%Y"`' >> /var/log/HAimport.log 2>&1
0  8 10 * * /bin/bash -l -c 'cd /home/igrigorik/code && ./sync.sh mobile_`date +"%b_1_%Y"`'  >> /var/log/HAimport.log 2>&1
0  8 25 * * /bin/bash -l -c 'cd /home/igrigorik/code && ./sync.sh mobile_`date +"%b_15_%Y"`' >> /var/log/HAimport.log 2>&1
